*{
	font-size: 1.2rem;
	font-family: sans-serif;
}

html {
	min-height: 100%;
	display: flex;
}

body {
	border: 5px solid red;
	margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

div {
	border: 5px solid black;
	background-color: rgba(255,255,255, 0.7);
	position: absolute;
	display: flex;
	flex-flow: column;
	padding: 0.5em;
}

p {
	border: 1px solid green;
	margin: auto;
}

.btn {
	background: #29ABE2;
	background-image: -webkit-linear-gradient(top, #29ABE2, #0000FF);
	background-image: -moz-linear-gradient(top, #29ABE2, #0000FF);
	background-image: -ms-linear-gradient(top, #29ABE2, #0000FF);
	background-image: -o-linear-gradient(top, #29ABE2, #0000FF);
	background-image: linear-gradient(to bottom, #29ABE2, #0000FF);
	-webkit-border-radius: 27;
	-moz-border-radius: 27;
	border-radius: 27px;
	padding: 1em;
	margin: 0.5em 10em 0em 10em;
	border: solid #000000 5px;
	text-decoration: none;
}