*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* start - flexbox container*/
html, body, .box, .svg-container {
	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
}
/* end - flexbox container*/

/* start - flexbox child*/
body, .box, .svg-container {
	align-content: center;
	align-items: center;
}
/*end - flexbox child*/

/*start - relative vs absolute*/
body {
	position: relative;
}

.svg-container, #arrow {
	position: absolute;
}
/*end - relative vs absolute*/

html {
	border: 5px dashed blue;
	height: 100%;
}

body {
	border: 5px solid red;
	margin: 0;
	flex: 1 1 auto;
}

.box {
	border: 3px solid black;

	width: 60%;
	height: 60%;
	z-index: 2;
}

.svg-container {
	border: 3px solid green;
	width: 100%;
	top: 0; bottom: 0;
}

#axys {
	width: 98%;
	height: 98%;

	background-color: pink;
}

.aTop {
	background-color: blue;
	top: 0; height: 0;
	transform: translateX(-3%);
}

.aRight {
	right: 0; top: 50%;
	transform: translateY(-44.5%);
}

.aBottom {
	background-color: red;
	bottom: 0; height: 0; margin-bottom: 30px;
	transform: translateX(-3%);
}

.aLeft {
	left: 0; top: 50%;
	transform: translateY(-44.5%);
}

svg {
}

/*
.btn {
	background: #29ABE2;
	background-image: -webkit-linear-gradient(top, #29ABE2, #0000FF);
	background-image: -moz-linear-gradient(top, #29ABE2, #0000FF);
	background-image: -ms-linear-gradient(top, #29ABE2, #0000FF);
	background-image: -o-linear-gradient(top, #29ABE2, #0000FF);
	background-image: linear-gradient(to bottom, #29ABE2, #0000FF);
	-webkit-border-radius: 27;
	-moz-border-radius: 27;
	border: solid #000000 5px;
	padding: 0.1em 3em;
}
*/